@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme{
  --color-primary-yellow: #edeece;
  --color-primary-blue: #122a5b;
  --color-dark-green: #117640;
  --color-medium-yellow: #f9bc52;
}

@theme{
  --font-primary: "Helvetica Neue", sans-serif;
  --font-primary-light: "Helvetica Neue Light", sans-serif;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue/HelveticaNeueMedium.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Neue Light";
  src: url("/fonts/helvetica-neue/HelveticaNeueLight.otf") format("opentype");
}

@theme{
  --breakpoint-xs: 500px;
}